<div class="query-item base-query">
    <div *ngIf="queryItemType === ItemType.Query">
				<mat-form-field class="term-operator"> 
				   <mat-label i18n="@@operator">Operator</mat-label> 
				   <mat-select [formControlName]="FormFields.TermOperator" name="TermOperator" class="operator">
				      <mat-option *ngFor="let item of termQueryItems" [value]="item" class="operator">{{item}}</mat-option> 
				   </mat-select>
				</mat-form-field>
			</div>
			<div *ngIf="queryItemType === ItemType.Query">
				<mat-form-field class="string-operator"> 
				   <mat-label i18n="@@operator">Operator</mat-label> 
				   <mat-select [formControlName]="FormFields.ConceptOperator" name="ConceptOperator" class="operator">
				      <mat-option *ngFor="let item of stringQueryItems" [value]="item" class="operator">{{item}}</mat-option> 
				   </mat-select>
				</mat-form-field>
				<mat-form-field class="form-field">
				<mat-label i18n="@@createQueryQueryItemConcept">Concept</mat-label> 
						<input matInput type="text" [matAutocomplete]="autoConcept" formControlName="{{FormFields.Concept}}"
							i18n-placeholder placeholder="concept">
						<mat-autocomplete #autoConcept="matAutocomplete" autoActiveFirstOption>
      						<mat-option *ngFor="let concept of concepts" [value]="concept" 
      						    class="symbol-text">
        						{{ concept }}
      						</mat-option>
    					</mat-autocomplete> 
				</mat-form-field>
				</div>
				<div *ngIf="queryItemType === ItemType.Query">
				<mat-form-field class="number-operator"> 
				   <mat-label i18n="@@operator">Operator</mat-label> 
				   <mat-select [formControlName]="FormFields.NumberOperator" name="NumberOperator" class="operator">
				      <mat-option *ngFor="let item of numberQueryItems" [value]="item" class="operator">{{item}}</mat-option> 
				   </mat-select>
				</mat-form-field>
				<mat-form-field class="form-field">
				<mat-label i18n="@@value">Value</mat-label>  
				   <input matInput type="text" formControlName="{{FormFields.NumberValue}}" class="number-value">
				</mat-form-field>
				</div>
				
			<div *ngIf="queryItemType === ItemType.TermStart">
				<mat-form-field class="term-operator"> 
				   <mat-label i18n="@@operator">Operator</mat-label> 
				   <mat-select [formControlName]="FormFields.TermOperator" name="TermOperator" class="operator">
				      <mat-option *ngFor="let item of termQueryItems" [value]="item" class="operator">{{item}}</mat-option> 
				   </mat-select>
				</mat-form-field>
			</div>
			<div *ngIf="queryItemType === ItemType.TermStart">
				<div i18n=@@queryTermStart>Term Start</div>
			</div>
			
			<div *ngIf="queryItemType === ItemType.TermEnd">
				<mat-form-field class="term-operator"> 
				   <mat-label i18n="@@operator">Operator</mat-label> 
				   <mat-select [formControlName]="FormFields.TermOperator" name="TermOperator" class="operator">
				      <mat-option *ngFor="let item of termQueryItems" [value]="item" class="operator">{{item}}</mat-option> 
				   </mat-select>
				</mat-form-field>
			</div>
			<div *ngIf="queryItemType === ItemType.TermEnd">
				<div i18n=@@queryTermStart>Term Start</div>
			</div>
</div>
