.myform {
	flex: 1 0 auto;
	width: 100%;
}

.string-operator {
	width: 70px;
}

.number-operator {
	width: 70px;
}

.term-operator {
	width: 100px;
}

.operator {
	font-size: 12px;
}

.number-value {
	text-align: right;
}

.form-field {
	font-size: 12px;
	width: calc(100% - 70px);	
}

.query-item {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

::ng-deep .mat-mdc-form-field-bottom-align::before {
	display: unset;
}