<div mat-dialog-content>
    <form [formGroup]="symbolForm" novalidate>  
			<ul class="list-style">
				<li>
					<mat-form-field class="form-field"> 
						<input matInput type="text" [matAutocomplete]="auto" [formControl]="symbolNameFormControl"
							i18n-placeholder placeholder="symbolName" tabindex="1" (keyup.enter)="findSymbolByName()">
						<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      						<mat-option *ngFor="let symbol of symbolsName | async" [value]="symbol.name" class="symbol-text">
        						Symbol: {{symbol.symbol}} Name: {{symbol.name}}
      						</mat-option>
    					</mat-autocomplete> 
					</mat-form-field>
				</li>
				<li>
					<mat-form-field class="form-field"> 
						<input matInput type="text" [matAutocomplete]="auto" [formControl]="symbolNameFormControl"
							i18n-placeholder placeholder="symbolName" tabindex="1" (keyup.enter)="findSymbolByName()">
						<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      						<mat-option *ngFor="let symbol of symbolsSymbol | async" [value]="symbol.symbol" class="symbol-text">
        						Symbol: {{symbol.symbol}} Name: {{symbol.name}}
      						</mat-option>
    					</mat-autocomplete> 
					</mat-form-field>
				</li>
				<li *ngIf="!selSymbol && !loading" i18n>
					No Symbol selected.
				</li>
				<li *ngIf="loading" i18n>
					Loading...
				</li>
				<li *ngIf="selSymbol && !loading">
					<div class="symbol-data symbol-text">
						<div i18n>Symbol: {{selSymbol.symbol}}</div>
						<div i18n>Name: {{selSymbol.name}}</div>
						<div i18n>Weight: {{selSymbol.weight}}</div>
					</div>
				</li>
				<li>
					<button mat-button (click)="onAddClick()" [disabled]="!selSymbol" tabindex="-1" i18n>Ok</button>
					<button mat-button (click)="onCancelClick()" tabindex="-1" i18n>Cancel</button>
				</li>
			</ul>
	</form>
</div>
