<div mat-dialog-content>
		<form [formGroup]="portfolioForm" novalidate>  
			<ul>
				<li>
					<mat-form-field> 
						<input matInput
							i18n-placeholder placeholder="Portfolioname" tabindex="1" formControlName="portfolioName"> 
					</mat-form-field>
				</li>
				<li>
					<mat-form-field> 
						<mat-label i18n>Creation date</mat-label>
  						<input matInput [matDatepicker]="picker1" formControlName="createdAt">
  						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  						<mat-datepicker #picker1></mat-datepicker>
					</mat-form-field>
				</li>
				<li *ngIf="!formValid" i18n class="errorText">
					Input invalid
				</li>
				<li>
					<button mat-button (click)="onAddClick()" [disabled]="!formValid" tabindex="-1" i18n>Ok</button>
					<button mat-button (click)="onCancelClick()" tabindex="-1" i18n>Cancel</button>
				</li>
			</ul>
		</form>
</div>