.mat-table {
  overflow: auto;  
}

.table-cell {
	cursor: pointer;
}

table {
  width: 100%;
}

.symbol-name {
  overflow: hidden;
  white-space: nowrap;
  max-width: 15vw;
  text-overflow: ellipsis;
  padding-right: 24px;
}