<div class="container">
		<form [formGroup]="queryForm" novalidate>
	<div>
		<h2 i18n="@@query">Query</h2>
			<div class="query-item base-query">
			<div>
				<mat-form-field class="term-operator"> 
				   <mat-label i18n="@@operator">Operator</mat-label> 
				   <mat-select [formControlName]="FormFields.TermOperator" name="TermOperator" class="operator">
				      <mat-option *ngFor="let item of termQueryItems" [value]="item" class="operator">{{item}}</mat-option> 
				   </mat-select>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field class="string-operator"> 
				   <mat-label i18n="@@operator">Operator</mat-label> 
				   <mat-select [formControlName]="FormFields.ConceptOperator" name="ConceptOperator" class="operator">
				      <mat-option *ngFor="let item of stringQueryItems" [value]="item" class="operator">{{item}}</mat-option> 
				   </mat-select>
				</mat-form-field>
				<mat-form-field class="form-field">
				<mat-label i18n="@@createQueryQueryItemConcept">Concept</mat-label> 
						<input matInput type="text" [matAutocomplete]="autoConcept" formControlName="{{FormFields.Concept}}"
							i18n-placeholder placeholder="concept">
						<mat-autocomplete #autoConcept="matAutocomplete" autoActiveFirstOption (optionSelected)="conceptSelected($event)">
      						<mat-option *ngFor="let concept of concepts" [value]="concept" 
      						    class="symbol-text">
        						{{ concept }}
      						</mat-option>
    					</mat-autocomplete> 
				</mat-form-field>
				</div>
				<div>
				<mat-form-field class="number-operator"> 
				   <mat-label i18n="@@operator">Operator</mat-label> 
				   <mat-select [formControlName]="FormFields.NumberOperator" name="NumberOperator" class="operator">
				      <mat-option *ngFor="let item of numberQueryItems" [value]="item" class="operator">{{item}}</mat-option> 
				   </mat-select>
				</mat-form-field>
				<mat-form-field class="form-field">
				<mat-label i18n="@@value">Value</mat-label>  
				   <input matInput type="text" formControlName="{{FormFields.NumberValue}}" class="number-value">
				</mat-form-field>
				</div>
			</div>
	</div>
	<div cdkDropListGroup>
		<div class="query-container">
			<h2 i18n="@@createQueryAvailableQueryItems">Available Query	Items</h2>
			<h3 i18n="@@createQueryAddQueryItems">To add a Query Item. Drag it down.</h3>

			<div cdkDropList [cdkDropListData]="availableItems"
				class="query-list" (cdkDropListDropped)="drop($event)">
				<app-query *ngFor="let item of availableItems" cdkDrag [queryItemType]="item.queryItemType" [baseFormArray]="availableItemParams.formArray" [formArrayIndex]="availableItemParams.formArrayIndex" [showType]="availableItemParams.showType" ></app-query>
			</div>
		</div>

		<div class="query-container">
			<h2 i18n="@@createQueryQueryItems">Query Items</h2>
			<h3 i18n="@@createQueryRemoveQueryItems">To remove a Query Item. Drag it up.</h3>

			<div cdkDropList [cdkDropListData]="queryItems" class="query-list"
				(cdkDropListDropped)="drop($event)">
				<div class="query-item" *ngFor="let item of queryItems; let i = index" cdkDrag>{{item.title}}</div>
			</div>
		</div>
	</div>
   </form>
</div>