ul {
  list-style-type: none;
}

.errorText {
  color: red;
}

.spacer {
  margin-left: 20px;
}

.spinner-container {
	display: flex; 
	justify-content: center;
	align-items: center;
	padding: 20px;
}