.example-tree-invisible {
  display: none;
}

.single-line {
	white-space: nowrap;
}

.align-icon {
	vertical-align: middle;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role="group"] {
  padding-left: 40px;
}

.example-tree div[role="group"] > .mat-tree-node {
  // padding-left: 40px;
}

.mytable {
  width: calc(100% - 40px);
}

.mat-column-concept {
  overflow: hidden;
  flex: 1 1 auto;
}

.mat-column-value {
  min-width: 50px;
  flex: 1 0 auto;
  justify-content: right;
}

.mat-column-symbol {
  min-width: 100px;
  flex: 0 0 auto;
}

.mat-column-year,
.mat-column-quarter,
.mat-column-currency {
  min-width: 50px;
  flex: 0 0 auto;
}
