<div class="base-container">
<div>
	<div class="text-container" i18n>Symbol: {{!symbol ? 'none' : replacePortfolioSymbol(symbol.symbol)}} Name: {{!symbol ? 'none' : symbol.name}}</div>
	<div class="text-container">
		<span class="symbol-data" i18n>Start Date: {{!symbolData.start ? '' : symbolData.start | date:'mediumDate' }}</span>
		<span class="symbol-data" i18n>End Date: {{!symbolData.end ? '' : symbolData.end | date:'mediumDate' }}</span>
		<span class="symbol-data" i18n>Open: {{!symbolData.open ? '' :  symbolData.open | number:'1.2-2'}}</span>
		<span class="symbol-data" i18n>High: {{!symbolData.high ? '' :  symbolData.high | number:'1.2-2'}}</span>
		<span class="symbol-data" i18n>Low: {{!symbolData.low ? '' :  symbolData.low | number:'1.2-2'}}</span>
		<span class="symbol-data" i18n>Close: {{!symbolData.close ? '' :  symbolData.close | number:'1.2-2'}}</span>		
	</div>
	<div class="text-container">
		<span class="symbol-data" i18n>Average Volume: {{!symbolData.avgVolume ? '' : symbolData.avgVolume | number:'1.0-0' }}</span>
		<span class="symbol-data" i18n>Average Close: {{!symbolData.avgClose ? '' :  symbolData.avgClose | number:'1.2-2'}}</span>
		<span class="symbol-data" i18n>Median Close: {{!symbolData.medianClose ? '' :  symbolData.medianClose | number:'1.2-2'}}</span>
		<span class="symbol-data" i18n>Volatility Close: {{!symbolData.volatilityClose ? '' :  (symbolData.volatilityClose * 100) | number:'1.2-2'}}%</span>
	</div>
</div>
<div class="text-container">
	<label id="my-radio-group-label" i18n>Pick your timeframe:</label>
	<mat-radio-group
	  aria-labelledby="my-radio-group-label"
	  class="my-radio-group" (change)="quotePeriodChanged()"
	  [(ngModel)]="selQuotePeriod">
	  <mat-radio-button class="my-radio-button" *ngFor="let myQuotePeriod of quotePeriods" [value]="myQuotePeriod" [disabled]="!quotesLoading && !isIntraDayDataAvailiable(symbol) && myQuotePeriod.quotePeriodKey === quotePeriodKeyDay">
	    {{myQuotePeriod.periodText}}
	  </mat-radio-button>
	</mat-radio-group>
</div>
<div class="text-container">
	<label id="my-checkbox-group-label" i18n>Pick your comparison index:</label>
	<span>
		<mat-checkbox class="my-checkbox" [disabled]="quotesLoading" (change)="compIndexUpdate($event.checked, ComparisonIndex.EUROSTOXX50)" i18n>EuroStoxx 50</mat-checkbox>
		<mat-checkbox class="my-checkbox" [disabled]="quotesLoading" (change)="compIndexUpdate($event.checked, ComparisonIndex.MSCI_CHINA)" i18n>Msci China</mat-checkbox>
		<mat-checkbox class="my-checkbox" [disabled]="quotesLoading" (change)="compIndexUpdate($event.checked, ComparisonIndex.SP500)" i18n>S&P 500</mat-checkbox>
	</span>
</div>
<div *ngIf="!symbol" class="chart-container center-div">
	<div i18>Please select an instrument</div>
</div>
<div *ngIf="symbol" #chartContainer class="chart-container">
	<ngx-charts-line-chart	
	  [legend]="legend"
	  [showXAxisLabel]="showXAxisLabel"
	  [showYAxisLabel]="showYAxisLabel"
	  [xAxis]="xAxis"
	  [yAxis]="yAxis"
	  [xAxisLabel]="xAxisLabel"
	  [yAxisLabel]="yAxisLabel"
	  [timeline]="timeline"
	  [autoScale]="autoScale"
	  [results]="multi">
	</ngx-charts-line-chart>
</div>
<div class="invisible-div">
	<span id="intraDay" i18n="@@intraDay">IntraDay</span>
	<span id="oneMonth" i18n="@@oneMonth">1 Month</span>
	<span id="threeMonths" i18n="@@threeMonths">3 Months</span>
	<span id="sixMonths" i18n="@@sixMonths">6 Months</span>
	<span id="oneYear" i18n="@@oneYear">1 Year</span>
	<span id="threeYears" i18n="@@threeYears">3 Years</span>
	<span id="fiveYears" i18n="@@fiveYears">5 Years</span>
	<span id="tenYears" i18n="@@tenYears">10 Years</span>
</div>
</div>