<div class="time-chart">
	<div class="time-chart-header">
	<ng-container *ngIf="showDays">
		<div class="header-line">
			<div *ngFor="let periodMonth of periodMonths" class="header-box" 
				[style.width.px]="(periodMonth.daysInMonth * (DAY_WIDTH + 2)) -2">{{periodMonth.toJSDate() | date: 'MMMM YYYY'}}</div>
		</div>
		<div class="header-line">
			<div *ngFor="let periodDay of periodDays" class="header-box" [class.header-sunday]="periodDay.weekday == 7"
				[style.width.px]="DAY_WIDTH">{{periodDay.toJSDate() | date: 'dd'}}</div>	
		</div>		
	</ng-container>
	<ng-container *ngIf="!showDays">
		<div class="header-line">					
			<div *ngFor="let periodYear of periodYears" class="header-box" 
				[style.width.px]="(12 * (MONTH_WIDTH + 2)) -2">{{periodYear.toJSDate() | date: 'YYYY'}}</div>
		</div>
		<div class="header-line">
			<div *ngFor="let periodMonth of periodMonths" class="header-box" 
				[style.width.px]="MONTH_WIDTH">{{periodMonth.toJSDate() | date: 'MMMM'}}</div>
		</div>	
	</ng-container>
	<div class="header-line">
		<div *ngFor="let item of items" class="stock-line" [style.width.px]="calcWidthPx(item)" [class.stock-line-start]="!!item.start" 
			[class.stock-line-end]="!!item.end" [style.margin-left.px]="calcStartPx(item)" [style.margin-right.px]="calcEndPx(item)"
			#tooltip="matTooltip" [matTooltip]="!item?.name && !item?.details ? 'None' : item?.name + ', '+ item?.details" matTooltipPosition="above"
       		matTooltipHideDelay="3000">
       		<div class="stock-name">{{item.name}}</div>
       	</div>	
	</div>
</div>
</div>