<div mat-dialog-content>
    <form [formGroup]="financialsForm" novalidate>        
			<ul class="list-style">
				<li>
					
				</li>
				<li>
					<mat-form-field class="form-field"> 
					    <mat-label i18n="@@filename">Filename</mat-label>
						<input matInput type="text" formControlName="{{FormFields.Filename}}"  
							i18n-placeholder="@@filename" placeholder="Filename">
					</mat-form-field>
				</li>
				<li>
					<button mat-button (click)="okClick()" [disabled]="!filePath" tabindex="-1" i18n="@@ok">Ok</button>
					<button mat-button (click)="cancelClick()" tabindex="-1" i18n="@@cancel">Cancel</button>
				</li>
			</ul>
	</form>
</div>