.container {
  //background-color: #0000ff;
  width: calc(50vw - 15px);
  height: 100%;
}
.mytable {
	width: 100%;
}
.no-display {
	display: none;
}

.mat-column-concept {
	overflow: hidden;
	flex: 1 1 auto;	
}

.mat-column-value {
	min-width: 50px;
	flex: 1 0 auto;
	justify-content: right;
}

.mat-column-symbol {
	min-width: 100px;
	flex: 0 0 auto;
}

.mat-column-year, .mat-column-quarter, .mat-column-currency {	
	min-width: 50px;
	flex: 0 0 auto;
}