<div>
<mat-toolbar color="primary">
	<span i18n="@@overviewFinancialData">Financial Data</span>
	<span class="example-fill-remaining-space"></span>
	<span class="header-space"><button mat-flat-button color="primary" (click)="showFinancialsImport()" i18n="@@importFinancials">Import Financials</button></span>
	<span><button mat-flat-button color="primary" (click)="back()" i18n="@@back">Back</button></span>
	<span><button mat-flat-button color="primary" (click)="logout()" i18n="@@logout">Logout</button></span>
</mat-toolbar>
<div class="base-container">
	<div class="query-container">
	   <app-create-query (symbolFinancials)="updateSymbolFinancials($event)" (financialElements)="updateFinancialElements($event)"></app-create-query>
	</div>
	<div class="result-container">
	   <app-query-results [symbolFinancials]="symbolFinancials" [financialElements]="financialElements"></app-query-results>
	</div>
</div>
</div>