<div mat-dialog-content>
  <form [formGroup]="symbolForm" novalidate *ngIf="!updatingQuotes">
	<div class="grid-container">
		<div><span i18n="@@changeSymbolName">Name: </span></div><div><span>{{data.name}}</span></div>
		<div><span i18n="@@changeSymbolSymbol">Symbol: </span></div><div><span>{{data.symbol}}</span></div>
    	<div><span i18n="@@changeSymbolCurrency">Currency: </span></div><div><span>{{data.currencyKey}}</span></div>
    </div>
    <ul class="list-style">
      <li>
      	 <mat-form-field class="form-field">
      	 <mat-label i18n="@@changeSymbolWeight">Weight</mat-label>
          <input
            matInput
            type="text"
            formControlName="{{ FormFields.SymbolWeight }}"            
            i18n-placeholder="@@changeSymbolWeight"
            placeholder="Weight"
            tabindex="3"
          />
          </mat-form-field>
      </li>
      <li>
       <button
          mat-button
          (click)="updateClick()"
          [disabled]="symbolForm.pristine || symbolForm.invalid"
          tabindex="-1"
          i18n="@@ok"
        >
          Ok
        </button>
        <button
          mat-button
          (click)="cancelClick()"
          tabindex="-1"
          i18n="@@cancel"
        >
          Cancel
        </button>
      </li>
    </ul>
    <!-- {symbolForm.pristine}} {{symbolForm.valid}} -->
  </form>
  <div *ngIf="updatingQuotes">
    <div class="container">
      <div i18n="@@changeSymbolUpdatingQuotes">Updating Quotes...</div>
    </div>
    <div class="container">
      <div class="content">
        <mat-progress-spinner
          class="example-margin"
          mode="indeterminate"
          color="primary"
        ></mat-progress-spinner>
      </div>
    </div>
  </div>
</div>