.grid-container {
	display: grid;	
	grid-template-columns: max-content 1fr;
	column-gap: 10px;
}

.symbol-element {
  margin: 5px 0;
}

.form-field {
  width: 100%;
}

.list-style {
  list-style-type: none;
  padding-left: 0;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.content {
  margin: 50px 0;
}

.example-margin {
  margin: 0 10px;
}

.buttons-element {
	margin-top: 15px;
}